<p-toolbar [style]="{position: 'sticky', zIndex : '10', top: '0', left: '0', right: '0'}">
  <div class="p-toolbar-group-start">
    <p-image class="mr-3" src="assets/logo.svg" width="auto" height="64px"></p-image>
    <h2>Archana Berry-chan</h2>
  </div>
  <div class="p-toolbar-group-center">

  </div>
  <div class="p-toolbar-group-end gap-3">
    <p-button [outlined]='true' [rounded]="false" label='Home'></p-button>
    <p-button [outlined]='true' [rounded]="false" label='Our Works'></p-button>
    <p-button icon='pi pi-discord' [outlined]='true' [rounded]="false" label='Discord'></p-button>
  </div>
</p-toolbar>
