<<div class="p-4 grid">
  <div class="md:col-8">
    <div class="flex flex-column justify-content-around h-screen">
      <div class="md:w-8">
        <h2>Who are we?</h2>
        <div class="parallelogram"></div>
        <h3>We don't know who we are because Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
          cillum
          sint consectetur cupidatat.</h3>
      </div>
      <div class="md:w-8">
        <h2>What we do?</h2>
        <div class="parallelogram"></div>
        <h3>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
        </h3>
      </div>
      <div class="md:w-8">
        <h2>Want to know more?</h2>
        <div class="parallelogram"></div>
        <h3>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
        </h3>
      </div>
    </div>

  </div>

  <div class="col">
    <h2>Latest News</h2>
    <p-tabView [style]="{borderColor: 'black'}">
      <p-tabPanel header='Information' [style]="{borderColor: 'black' }">
        <app-information></app-information>
      </p-tabPanel>
      <p-tabPanel header='Technology'>
        <app-technology></app-technology>
      </p-tabPanel>
    </p-tabView>
  </div>
  </div>
