@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
// @import "assets/themes/theme.scss";
@import "primeicons/primeicons.css";


html {
  font-size: 90%;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
